/*шрифты */

:root{
    --yellow: #ffc92f;
    --red: #d82727;
    --black: #1b1b1b;
    --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Regular.ttf) format("opentype"),
        url(/fonts/Roboto/Roboto-Bold.ttf) format("opentype");
    }
    @font-face {
        font-family: "alegreya";
        src: url(/fonts/Alegreya/alegreyasanssc-black-webfont.woff2) format("woff2"),
            url(/fonts/Alegreya/alegreyasanssc-black-webfont.woff) format("woff");
        font-weight: normal;
        font-style: normal;
        }
        @font-face {
            font-family: "Yanone Kaffeesatz";
            src: url(/fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf) format("opentype"),
                url(/fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Bold.ttf) format("opentype");
            }

html, body {
    height: 100%;
    font: 16px/1.42 "Roboto", Arial, sans-serif;
}



/*первая секция*/
.wrapper {
    overflow: hidden;
    min-width: 1310px;
}
/* Втоорая секция*/
.container{
    margin: 0 auto;
    width: 1300 px;
}
.hero {
    height:100vh;
    min-height: 650px;
    background: url(/images/bg/hero.jpg) center center/ cover no-repeat;
    position: relative;
    margin-bottom: 130px;
}

/* header общее */
.header {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 27px;
}
/*почта*/
.mail {
    text-decoration: none;
    text-align:center;
    font-size: 16px;
    color:inherit;
}
/* заголовок почты*/
.mail__title {
    margin-bottom: 3px;
}
/*теперь кнопка*/
.mail__content {
background:#212121;
color:var(--yellow);
font-size: 16px;
padding: 5px 10px;
}

.hero__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 1140px;
    height: 72%;
}
.fade-slider {
 width: 100%;
 height: 100%;
 position: relative;
}
.fade-slider__item{
    background: center center / contain no-repeat;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
}
.fade-slider__item--visible{
    opacity: 1;
}
.fade-slider__item--style-tshirts{
background-image: url('/images/content/hero/slider_pic_1.png')
}
.fade-slider__item--style-games{
    background-image: url('/images/content/hero/slider_pic_2.png')
    }
    .fade-slider__item--style-presents{
        background-image: url('/images/content/hero/slider_pic_3.png')
        }

.fade-slider__item--style-tshirts .fade-slider__text{
    left: 50%;
    top: 50%;
    transform: translateX(-164%) translateY(-52%);
    -webkit-transform: translateX(-164%) translateY(-52%);
    -moz-transform: translateX(-164%) translateY(-52%);
    -ms-transform: translateX(-164%) translateY(-52%);
    -o-transform: translateX(-164%) translateY(-52%);
}
.fade-slider__item--style-games .fade-slider__text{
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(35%);
    -webkit-transform: translateX(-50%) translateY(35%);
    -moz-transform: translateX(-50%) translateY(35%);
    -ms-transform: translateX(-50%) translateY(35%);
    -o-transform: translateX(-50%) translateY(35%);
}
.fade-slider__item--style-games .lined-text{
align-items: center;
}
.fade-slider__item--style-presents .fade-slider__text{
    left: 0%;
    bottom: 0;
    transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
}
.fade-slider__item--style-presents .lined-text{
    align-items: center;
}
/*4 строки про футболки*/
.fade-slider__text{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-164%, -52%);
    -webkit-transform: translate(-164%, -52%);
    -moz-transform: translate(-164%, -52%);
    -ms-transform: translate(-164%, -52%);
    -o-transform: translate(-164%, -52%);
    white-space: nowrap;
}
.lined-text{
    font-family: "alegreya", Arial, sans-serif;
    color:#fff;
    font-size: 63px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
/* теперь каждому слову строке*/
.lined-text__word {
    background: var(--black);
    padding: 0 17px 8px;
    margin-top: -7px;
}
.lined-text__word:nth-child(2n){
    margin-left: 8px;
}
.lined-text__word--color-yellow {
    color:var(--yellow);
}

/* Втоорая секция*/
/*Первое менюшка фильтр*/

ul {
    margin: 0 px;
    padding: 0 px;
}
ul>li {
list-style: none;
}

.filter {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 100px;
}
.filter__item{
    margin-right: 40px;
}
.filter__item:last-child{
    margin-right: 0 px;
}
.filter__link{
    display: inline-block;
    text-transform: uppercase;
    padding: 3px 21px;
    color:var(--black);
    font-family: var(--titlesFont);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    
}
.filter__link:hover{
    color:var(--red);
}
.filter__item--active .filter__link{
color: var(--yellow);
background:var(--black);
}

/*Футболки - блок с футболками products*/
.products{
    margin: 0px auto;
    width: 1340px;
}
.products__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -38px;

}
.Products__item{
    height: 386px;
    width: 303px;
    background:var(--yellow);
    margin-bottom: 35px;
    margin-left: 20px;
    position: relative;
}
.Products__item--color-black{
    background:var(--black);
}
.Products__item--size-double{
    height: 544px;
    width: 630px;
}
.products__content{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.products__desc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 23px 30px;
    background: rgba(35, 35, 35, .8);
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*для того чтобы выезжала*/transform:translateY(100%);
    -webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -ms-transform:translateY(100%);
    -o-transform:translateY(100%);
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
}
.Products__item:hover .products__desc{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.products__desc--text{
    text-align: center;
    margin-bottom: 18px;
}
.products__img{
    display: block;
    max-width: 90%;
    max-height: 100%;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--titlesFont);
    font-size: 24px;
    padding: 2px 30px;
    background:var(--black);
    color:var(--yellow);
    text-decoration: none;
}
.btn:hover {
    background:var(--red);
    color:white;
}

/*Теперь ценник*/ /*Сперва в product__item добавим position:relative;*/
.products__price {
    position: absolute;
    top: 18px;
    left: -6px;
    width: 126px;
    border-bottom: 45px solid #232323; 
    border-left: 5px solid transparent; 
    border-right: 2px solid transparent; 
    transform: rotate(-181deg);
}
.products__price--amount { 
    font-size: 30px;
    font-weight: bold;
    font-family: var(--titlesFont); 
    color: #fff;
    transform: rotate(181deg); 
    position: absolute;
    top: 2px;
    right: 28px;
}

.Products__item--color-black .products__price { 
    border-bottom-color: var(--yellow);
}
.Products__item--color-black .products__price-amount { 
    color: #212121;
}

/*Стилизация 3 секции*/
.collections__list{
    display: flex;
}
.collections__item{
    min-height: 474px;
    flex:1;
    overflow: hidden;
    margin-right: 30px;
    background: url('../images/bg/pattern.png') center center/500px;
    position: relative;
}
.collections__item:before{
    content: "";
    display: block;
    position: absolute;
    height: 176%;
    width: 60%;
    top: -17%;
    left:-18%;
    background: center center / contain no-repeat;
}
.collections__item--type-guys:before{
    background-image: url('../images/collections/collection_man.png');
}
.collections__item--type-girls:before{
    background-image: url('../images/collections/collection_woman.png');
    top:-31%;
    width: 80%;
    left: -25%;
    }

.collections__link{
    display: block;
    padding: 74px 13% 74px 44%;
    text-decoration: none;
    color:inherit;
    font-size: 15px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.collections__link:hover .btn{
    background: var(--red);
    color: #fff;
}
.collections__title{
    font-family: var(--titlesFont);
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}
.collections__item:last-child{
    margin-right: 0;
}
.collectios__desc{
    margin-bottom: 28px;
}
.collections {
    margin-bottom: 184px;
    margin-right: 30px;
}
/*Футер начался*/
.footer{
    margin-bottom: 115px;
}
.footer__container{
    width: 1105px;
}
.site-menu{
    margin-bottom: 115px;
}
.site-menu__sections{
    display: flex;
    justify-content: space-between;
}
.site-menu__col{
    margin-right: 20px;
}
.site-menu__col:last-child{
    margin-right: 0px;
}
.site-menu__title{
    font-family: var(--titlesFont);
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 24px;
}
.site-menu__item{
    margin-bottom: 15px;
}
.site-menu__link{
    color: var(--black);
    font-size: 15px;
    text-decoration: none;
}
.site-menu__link:hover{
    color: var(--red);
}

.site-menu__text{
    color: var(--black);
    font-size: 15px;
    margin-bottom: 30px;
}
.site-menu__text-row{
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 3px;
}

/* Лучшие принты и СВГешки*/
.extras {
    display: flex;
    margin-bottom: 95px;
    height: 178px;
}
.extras__col{
    margin-right: 20px;
    flex: 1;
}
.extras__col:last-child{
    margin-right: 0px;
}
.extras__best{
    text-align: center;
    color: #fff;
    background: #232323;
    font-size: 50px;
    font-weight: bold;
    font-family: var(--titlesFont);
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;
    }

.extras__col-socials{
    height: 100%;
    background: url('../images/bg/pattern.png') center center / 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials{
    display: flex;
}

.social__item{
    margin-right: 50px;
}
.social__item:last-child{
    margin-right: 0px;
}
.socials__link{
    width: 38px;
    height: 38px;
    display: block;
}
.socials__link:hover .socials__icon{
    fill: var(--red);
}
.socials__icon{
    width: 100%;
    height: 100%;
}

/* боковая менюшка*/
.sidebar{
    width: 55px;
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    background: #212121;
    box-sizing: border-box;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    transition:width .3s;
        -webkit-transition:width .3s;
        -moz-transition:width .3s;
        -ms-transition:width .3s;
        -o-transition:width .3s;
}

.sidebar__header{
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
}
.sidebar__close{
    position: absolute;
    top: -4px;
    right: 23px;
}
.sidebar__close-icon{
    width: 29px;
    height: 29px;
    fill: var(--yellow);
}

.side-menu__item{
    margin-bottom: 20px;
}
.side-menu__link{
    font-size: 20px;
    color: var(--yellow);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--titlesFont);
}

.side-menu__link:hover{
    color: var(--red);
}

.sidebar--opened{
    width: 325px;
    padding: 0 3% 0 4%;
}

.sidebar--opened .sidebar__header{
    display: flex;
}
.sidebar__menu{
    position: absolute;
    left:-400px;
    transition: left .3s;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
}
.sidebar--opened .sidebar__menu{ left:0px; width: 100%; text-align: center; 
    transition-delay: .1s;
}
.sidebar__hamburger-icon{
    width: 29px;
    height: 29px;
    fill: var(--yellow);
}
.sidebar__hamburger{
    display: block;
    position: absolute;
    top: 27px;
    left: 20%;
    transform:translate (-50%);
    -webkit-transform:translate (-50%);
    -moz-transform:translate (-50%);
    -ms-transform:translate (-50%);
    -o-transform:translate (-50%);
}
.sidebar--opened .sidebar__hamburger{
    display: none;
}